<h1><%= @user.username %></h1>

<div>
	<% if current_user.can_follow?(@user) %>
		<% if current_user.following?(@user) %>
			<%= unfollow_button(@user) %>
		<% else %>
			<%= follow_button(@user) %>
		<% end %>
	<% end %>
	
</div>

<ul>
	<li><%= render @shouts %></li>
</ul>